/* 페이지별 스타일 지정 */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 40px; /* 아래쪽 = 바닥글 높이 */
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
}

.padding {
    padding: 15px;
}