.DS_Store
grammar/*
!grammar/*.py
pdf2txt/*
!pdf2txt/*.py
sentence_generation/*
!sentence_generation/*.py
!sentence_generation/sentences.txt
similar-sentence/GoogleNews-vectors-negative300.bin.gz
similar-sentence/*.csv
paragraph-vector/*
!paragraph-vector/*.ipynb
